<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of Ju Jutsu Web (JJW) - a J2EE Ju-Jutsu competition management software.
  ~ Copyright (c) 2010.
  ~ Joerg Boehme / Tino Schlegel
  ~
  ~ File    : applicationContext-security.xml
  ~ Created : 05 Jun 2010
  ~ Last Modified: Sat, 05 Jun 2010 21:54:41
  ~
  ~ Ju Jutsu Web is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Ju Jutsu Web is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Ju Jutsu Web.  If not, see <http://www.gnu.org/licenses/>.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:security="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<security:global-method-security secured-annotations="enabled">
	</security:global-method-security>
 
 	 <security:http pattern="/login.html" security="none"/>
 	 <security:http pattern="/extern/**" security="none" />
 	 
    <security:http entry-point-ref="authenticationProcessingFilterEntryPoint">        
    	<security:intercept-url pattern="/off/**" access="ROLE_USER" />
    	<security:intercept-url pattern="/admin/**" access="ROLE_ADMIN" />

    
    	<security:session-management  invalid-session-url="/index.html"/>
    	<security:custom-filter ref="authenticationProcessingFilter" position="BASIC_AUTH_FILTER" />
    </security:http>
    
    <security:authentication-manager  alias="authenticationManager"> 
    	<security:authentication-provider   ref='authenticationProvider'/>    		
  </security:authentication-manager>
  

	<bean id="authenticationProcessingFilter" class="de.jjw.webapp.filter.AuthenticationProcessingFilter">	 
        <property name="authenticationManager" ref="authenticationManager" />
         <property name="userManager" ref="userManager" />
         <property name="ipLogManager" ref="ipLogManager" />
         
        
    </bean>

<bean id="authenticationProcessingFilterEntryPoint" class="de.jjw.webapp.filter.LoginUrlAuthenticationEntryPoint">
    <property name="loginFormUrl" value="/logIn.html" />
    <property name="forceHttps" value="false" />
</bean>



	<bean id="authenticationProvider" class="de.jjw.service.ProviderManager">
		 <property name="userDetailsService" ref="daoUserServiceImp"/>
	</bean>

 

  <!-- ======================== AUTHENTICATION ======================= -->
    
 <bean id="daoUserServiceImp" class="de.jjw.dao.DaoSecurityUserService">
    <property name="userDao" ref="userDao"/>    	
  </bean>
  
  
</beans>